{% extends 'base/main.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tasks</title>
</head>
<body>
<!-- In your template -->
{% if request.user.is_authenticated %}
  <p>Welcome to your tasks {{ request.user }}</p>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">
      Logout
    </button>
  </form>
{% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}

  <h2>Task List</h2>
  <a href="{% url 'task-create' %}"> Add Task</a>

  <form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
  <input type="submit" value="Search">
  </form>
  <table>
    {% for task in tasks%}
    <tr>
      <td>{{task.title}}</td>
      <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
      <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
  </table>
  
</form>
</body>
</html>
{% endblock content %}


